.ServicesGrid {
    padding: 10rem 0 6.5rem;
  }

.ContainerServices {
	width: 100%;
	margin: auto;
	max-width: 100vw;
	padding: 0 5%;
}

.ServicesGrid h3 {
    margin-bottom: 2rem;
}

.ServiceTitle a {
    font-weight: 700;
    margin-bottom: 12px;
    color: #0f4573;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.ServiceTitle a:hover {
    color: #ff9900;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-decoration: none;
}


a.ReadMore {
    text-decoration: none;
    color: #ff9900;
    min-width: 100px;
    width: auto;
    padding: 1rem 2rem;
    border: 1px solid;
    border-color: #ff9900;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

a.ReadMore:hover {
    text-decoration: none;
    color: #fff;
    min-width: 100px;
    font-weight: 500;
    width: auto;
    padding: 1rem 2rem;
    border: 1px solid;
    border-color: #ff9900;
    border-radius: 5px;
    background-color: #ff9900;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

}

.ServiceBox {
    margin-bottom: 55px;
}

.ServiceImgBox {
    position: relative;
    margin-bottom: 18px;
    border-radius: 4px;
    overflow: hidden;
}

.ServiceImgBox:after {
    visibility: visible;
    opacity: 1;
}

.ServiceImg {
        border-radius: 4px;
        transform: scale(1);
        transition: transform 5s cubic-bezier(0.2, 0.96, 0.34, 1);
        vertical-align: middle;
        border-style: none;
        cursor: pointer;

    }



.ServiceImg:hover {
    transform: scale(1.2);
}


.ServiceImg:after {
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        font-size: 36px;
        color: #082c4b;

}

p {
    margin: 1rem auto 2rem;
    padding: 0.5rem 0 1rem;
}

@media screen and (min-width: 2400px) {

}

@media screen and (max-width: 1680px) {

}


@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 980px) {

}


@media screen and (max-width: 767px) {

}



@media screen and (max-width: 480px) {
    .serviceBox {
        margin-bottom: 45px;
    }
}


@media screen and (max-width: 360px) {

}