.cityName {

}

.subDescription {

}

article.article {
    margin: auto;

}

article.article p {
    margin: auto;
    padding: 0 0 1rem 0;
}

.Map {
    height: 350px;
    width: 100%;
    margin-bottom: 1.5rem;
}
@media screen and (min-width: 767px) {
    .Map {
        height: 400px;
        width: 100%;
    }
}