.CLsection {
    display: block;
    background-image: linear-gradient(9deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 33%, rgba(255,255,255,0.3) 66%, rgba(159,177,181,1) 100%), url('../../../images/pattern-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: auto;
    position: relative;
}
.CLRow{
    display: flex;
}

.CLGuy {
    width: 70%;
    height: 100%;
    vertical-align: bottom;
    vertical-align: -webkit-baseline-bottom;
    margin: 20% 0 0 0;
}

.Intro {
    text-align: center;
    margin: 5rem auto 0;
}

.IntroTitle {
    text-align: center;
    width: 80%;
    margin: 1rem auto 3rem;
    font-size: 2rem;
}

.IntroText {
    font-size: 1.5rem;
    width: 100%;
    margin: 0.5rem auto 2rem;
    padding: 0 5px;
}

.ColGuy {
    display: block;
}

.Badgesbox {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 10% auto;
    padding: 1rem 0 1rem 10rem;
}

.Badges {
    display: inline-flex;
    width: auto;
    margin: auto;
    padding: 2rem;
    height: 250px;
}

.WhyloveUs {
    display: block;
    text-align: center;
    margin: 10% auto 0px;
}

.WhyTitle {
    font-size: 24px;
    color: #ff9900;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px #8b8888;
    -webkit-text-shadow: 2px 2px 3px #8b8888;
    margin: auto;
    padding: 2rem 0 0;
    font-family: 'Montserrat', sans-serif;
}

.WhySubtitle {
    color: #0D4879;
    font-weight: 700;
    margin: auto;
    padding: 0px;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}




@media only screen and (min-width: 2400px) {
    .CLsection {
        background-image: linear-gradient(9deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 33%, rgba(255,255,255,0.3) 66%, rgba(159,177,181,1) 100%), url('../../../images/pattern-bg.jpg');
    }
    .Badgesbox {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 20% 7% 10% 25%;
    padding: 1rem 0 1rem 10rem;
}
.Badges {
    display: inline-flex;
    width: auto;
    margin: auto;
    padding: 2rem;
    height: 350px;
}
}

@media only screen and (max-width: 1680px) {

}

@media only screen and (max-width: 1280px) {
    .CLsection {
        background-image: linear-gradient(9deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 33%, rgba(255,255,255,0.3) 66%, rgba(159,177,181,1) 100%), url('../../../images/pattern-bg.jpg');
    }
}


@media only screen and (max-width: 980px) {
    .CLsection {
        background-image: linear-gradient(9deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 33%, rgba(255,255,255,0.3) 66%, rgba(255,255,255,0.8) 100%), url('../../../images/pattern-bg.jpg');
        background-size: contain;
        background-position: top center;
    }

    .Badgesbox {
    display: flex;
    flex-wrap: nowrap;
    margin: 10% auto;
    padding: 1rem;

    }

    .Badges {
        height: auto;
        width: auto;
    }

    .ColGuy {
        display: none;
    }
}


@media only screen and (max-width: 767px) {
    .CLsection {
        background-image: linear-gradient(9deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 33%, rgba(255,255,255,0.3) 66%, rgba(255,255,255,0.8) 100%), url('../../../images/pattern-bg.jpg');
    }
}


@media only screen and (max-width: 480px) {
    .CLsection {
        background-image: linear-gradient(9deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 33%, rgba(255,255,255,0.3) 66%, rgba(255,255,255,0.8) 100%), url('../../../images/pattern-bg.jpg');
    }
    .Badgesbox {
        display: flex;
        flex-wrap: wrap;
        margin: 10% auto;
        padding: 1rem 0;
    }

    .IntroTitle {
        text-align: center;
        width: 100%;
        margin: 0.5rem auto 2rem;
        font-size: 1.5rem;
        padding: 0px;
    }
    .IntroText {
        font-size: 1.5rem;
        width: 100%;
        margin: 0.5rem auto 2rem;
        padding: 0 5px;
    }
    .WhyTitle {
        padding: 2rem 0;
    }

    .WhySubtitle {
        font-size: 2rem;
    }

    .CLRow{
        display: block;
    }

    .Badges {
        padding: 0;
        height: 100px;
    }
    

    .CLGuy {
        display: none;
    }

    .ColGuy {
        display: none;
    }
}


@media only screen and (max-width: 360px) {
    .CLsection {
        background-image: linear-gradient(9deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 33%, rgba(255,255,255,0.3) 66%, rgba(255,255,255,0.8) 100%), url('../../../images/pattern-bg.jpg');
    }

    .WhySubtitle {
        font-size: 1.5rem;
    }

    .CLRow{
        display: block;
    }

    .Badges {
        height: 200px;
    }

    .CLGuy {
        display: none;
    }

    .IntroTitle {
    text-align: center;
    width: 100%;
    margin: 0 auto 1.5rem;
    font-size: 1.5rem;
    padding: 0 5px;

    }

    .IntroText {
        font-size: 1.3rem;
    }
}