
.dropdown-item {
  font-weight: 700;
  color: #0D4879;
}
.reach {
  height: 100%;
  width: 100%;
}


*:focus{
  outline: none;
  outline-color: transparent;
}
aside {
  z-index: 10 !important;
}

.fullNav {
  display: flex;
}

.mobileNav {
  display: none;
}

.mobileNavRow {
  display: none;
}

.navbar-toggle {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  color: #0f4573;
  /*border: 2px solid #0d4879;
  border-radius: 4px;*/
  cursor: pointer;
  display: none;
}

.navbar-expand .navbar-collapse {
  display: flex;
  flex-basis: auto;
  justify-content: flex-end;
}

@media only screen and (min-width: 2400px) {
  html {
    font-size: 100%;
  }
  .fullNav {
    display: flex;
  }
  .mobileNav {
    display: none;
  }
  .mobileNavRow {
    display: none;
  }
}

@media only screen and (max-width: 1680px) {
  html {
    font-size: 100%;
  }
  .fullNav {
    display: flex ;
  }
  .mobileNav {
    display: none ;
  }
  .mobileNavRow {
    display: none;
  }
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 100%;
  }
  .fullNav {
    display: flex ;
  }
  .mobileNav {
    display: inline-block ;
    z-index: 10;
    margin: 1rem auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0;
    position: fixed;
    cursor: pointer;
  }
  .mobileNavRow {
    display: none;
  }
}
@media only screen and (max-width: 1080px) {

  .fullNav {
    display: none ;
  }
  .mobileNav {
    display: inline-block ;
  }
  .mobileNavRow {
    display: flex;
  }
  .menuIcon {
    margin: auto;
    height: 80%;
    width: 80%;
    transform: rotate(0deg) translateZ(0px) !important;
    transform-origin: 0px center !important;
    margin: 0px !important;
    top: 20px !important;
    bottom: auto !important;
    right: 20px !important;
    left: auto !important;
    display: block !important;
    transform: scale(1);
    transform-origin: left bottom;
    outline: none !important;
    visibility: visible !important;
    resize: none !important;
    box-shadow: none !important;
    overflow: visible !important;
    background: none transparent !important;
    opacity: 1 !important;
    top: auto !important;
    left: auto !important;
    position: absolute !important;
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
    transition-property: none !important;
    transform: none !important;
    z-index: 1000000 !important;
    cursor: auto !important;
    float: none !important;
    border-radius: unset !important;
    pointer-events: auto !important;
    display: block !important;
    height: 75px !important;
    width: 75px !important;
    min-height: 75px !important;
    min-width: 75px !important;
    max-height: 75px !important;
    max-width: 75px !important;
    top: 10px !important;
    right: 5px !important;
    left: 70px!important;
  }
}

@media only screen and (max-width: 980px) {
  html {
    font-size: 100%;
  }
  .fullNav {
    display: none ;
  }
  .mobileNavRow {
    display: flex;
  }
  .mobileNav {
    display: inline-block ;
    z-index: 10;
    margin: 1rem auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0;
    position: fixed;
    cursor: pointer;
  }
  .menuIcon {
    margin: auto;
    height: 80%;
    width: 80%;
    transform: rotate(0deg) translateZ(0px) !important;
    transform-origin: 0px center !important;
    margin: 0px !important;
    top: 20px !important;
    bottom: auto !important;
    right: 20px !important;
    left: auto !important;
    display: block !important;
    transform: scale(1);
    transform-origin: left bottom;
    outline: none !important;
    visibility: visible !important;
    resize: none !important;
    box-shadow: none !important;
    overflow: visible !important;
    background: none transparent !important;
    opacity: 1 !important;
    top: auto !important;
    left: auto !important;
    position: absolute !important;
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
    transition-property: none !important;
    transform: none !important;
    z-index: 1000000 !important;
    cursor: auto !important;
    float: none !important;
    border-radius: unset !important;
    pointer-events: auto !important;
    display: block !important;
    height: 75px !important;
    width: 75px !important;
    min-height: 75px !important;
    min-width: 75px !important;
    max-height: 75px !important;
    max-width: 75px !important;
    top: 10px !important;
    right: 5px !important;
    left: 70px!important;
  }

  .navbar-toggle {
  }

  .icon-bar {
    display: block;
    width: 50px;
    height: 10px;
    border-radius: 1px;
    background: #0d4879;
    margin: 4px 0 0 2rem;
    padding: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    z-index: 10;
    box-shadow: 2px 1px 2px #ff9900;
  }
  .mobileLogo {
    width: 80%;
    margin: auto;
    padding: 0 2rem;
  }

  .mobilespace {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 100%;
  }

  .fullNav {
    display: none ;
  }
  .mobileNavRow {
    display: flex;
  }
  .mobileNav {
    display: inline-block ;
    z-index: 10;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 1rem;
    position: fixed;
  }
  .navbar-toggle {
  }

  .icon-bar {
    display: block;
    width: 35px;
    height: 5px;
    border-radius: 1px;
    background: #0d4879;
    margin: 4px 0 0 0;
    padding: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    z-index: 10;
  }
  .mobileLogo {
    width: 100%;
    margin: auto;
    padding: 10px 10px 0;
  }

  .menuIcon {
    margin: auto;
    height: 80%;
    width: 80%;
  }

  .mobilespace {
    margin-top: 1.5rem;
  }

  
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }

  .fullNav {
    display: none ;
  }

  .mobileNavRow {
    display: flex;
  }
  .mobileNav {
    display: inline-block ;
    z-index: 10;
    margin: 1% auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 1rem 0;
    position: fixed;
  }

  .mobilespace {
    margin-top: 1rem;
  }
  .navbar-toggle {
  }

  .icon-bar {
    display: block;
    width: 35px;
    height: 5px;
    border-radius: 1px;
    background: #0d4879;
    margin: 4px 0 0 0;
    padding: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    z-index: 10;
  }
  .menuIcon {
    margin: auto;
    height: 80%!important;
    width: 80%!important;
    outline: none !important;
    visibility: visible !important;
    resize: none !important;
    box-shadow: none !important;
    overflow: hidden!important ;
    background: none transparent !important;
    opacity: 1 !important;
    position: absolute !important;
    border: 0px !important;
    padding: 0px !important;
    transition-property: none !important;
    transform: none !important;
    z-index: 1000000 !important;
    cursor: auto !important;
    float: none !important;
    border-radius: unset !important;
    pointer-events: auto !important;
    display: block !important;
    top: 14px !important;
    left: 5px!important;
    max-width: 50px!important;
    max-height: 50px!important;
    min-width: 50px!important;
    min-height: 50px!important;
}
  
}

@media only screen and (max-width: 360px) {
  html {
    font-size: 100%;
  }

  .fullNav {
    display: none ;
  }
  .mobileNav {
    display: inline-block ;
    margin: auto;
    transform: scale(1.1);
    position: fixed;
  }
  .mobileNavRow {
    display: flex;
  }
  .mobileLogo {
    width: 100%;
    margin: auto;
    padding: 5px;
  }
}
