/*.menu {
        background-color: #275EFE;
        -webkit-perspective: 600px;
        width: 64px;
        height: 64px;
        position: relative;
        cursor: pointer;
        border: 1px solid;
        border-radius: 100%;
        border-color: #275EFE;
  }
*/