.action-wrap-layout1 {
    padding: 10rem 0;
    background: rgba(238, 32, 42, 0.9) url('../images/roofbanner.jpg');
    margin: -2rem 0 4rem 0;
  }
.item-title {
    text-shadow: 3px 3px 5px black;
}
.CTAbutton {
    width: 250px;
    text-align: center;
    height: auto;
    padding: 1rem 2rem;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    background-color: #ff9900;
    background: #ff9900;
    text-transform: uppercase;
    border-radius: 5px;
    border-color: #ff9900;
    box-shadow: 0px 0px 11px 5px rgba(186,186,186,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    transform: scale(1);

}

.CTAbutton:hover {
    color: #ffffff;
    border-color: #ff9900;
    background: #ffb200;
    background-color: #ffb200;
    transform: scale(1.05);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

@media screen and (max-width: 991px) {
    .action-box-layout1 {
      text-align: center;
      margin-bottom: 30px;
    }
      .action-box-layout1 .item-title {
        font-size: 38px;
      }
    
  }
  .action-box-layout1 .item-title {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0;
  }

  @media screen and (max-width: 767px) {
    .action-box-layout1 .item-title {
      font-size: 34px;
    }
  }
  @media screen and (max-width: 480px) {
    .action-box-layout1 .item-title {
      font-size: 32px;
    }
  }